* {
    box-sizing: border-box;
  }
  
  body {
    color: #bfc1c8;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
  }
  body input,
  button {
    border: none;
    font-size: 100%;
    outline: none;
  }
  
  .weather-channel__container {
    background: #323544;
    /* background-color: #262936; */
    height: 100vh;
    position: relative;
  }
  @media only screen and (min-width: 800px) {
    .weather-channel__container {
      max-width: 800px;
      margin: 3rem auto 0 auto;
      border: 1px solid #666;
      border-radius: 10px;
      height: auto;
      box-shadow: 5px 5px 10px #999;
    }
  }

  .onoffswitch {
    /* justify-self: flex-end; */
    margin-top: 5px;
    margin-right: 15px;
    position: relative;
    width: 60px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .onoffswitch-checkbox {
    display: none;
  }
  .onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #999999;
    border-radius: 50px;
  }
  .onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
  }
  .onoffswitch-inner:before,
  .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 24px;
    padding: 0;
    line-height: 24px;
    font-size: 12px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
  }
  .onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #009ad8;
    color: #ffffff;
  }
  .onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #eeeeee;
    color: #999999;
    text-align: right;
  }
  .onoffswitch-switch {
    display: block;
    width: 28px;
    height: 28px;
    margin: -1px;
    background: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    border: 1px solid #999999;
    border-radius: 50%;
    transition: all 0.3s ease-in 0s;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
  }
  